@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Prodi/**/*.php';
@source '../../../../resources/views/filament/**/*.blade.php';
@source '../../../../vendor/diogogpinto/filament-auth-ui-enhancer/resources/**/*.blade.php';



.fi-sidebar-group-collapse-btn svg {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.fi-sidebar-group-collapse-btn[aria-expanded="true"] svg {
    transform: rotate(-90deg);
}

.fi-sidebar-item-grouped-border-part {
    opacity: 0;
}

.fi-sidebar-item .fi-sidebar-item-label:active {
    font-size:1,1rem;
    font-weight:700
}